<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beltaief.reactivefbexample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1764840603767960"
            android:exported="true" />

        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".views.LoginActivity"
            android:label="Login Example"
            android:parentActivityName=".views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.LoginButtonActivity"
            android:label="Login Button Example"
            android:parentActivityName=".views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.ProfileActivity"
            android:label="Profile Example"
            android:parentActivityName=".views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.SingleFriendActivity"
            android:label="Public Profile Example"
            android:parentActivityName=".views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.FriendsActivity"
            android:label="Friend Example"
            android:parentActivityName=".views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.AlbumsActivity"
            android:label="Albums Example"
            android:parentActivityName=".views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
    </application>

</manifest>
